/* COMMON STYLE */
.textcenter{
    text-align: center !important;
}




/* COMMON STYLE END */


.tim-typo {
    padding-left: 15% !important;
}
.form-control:invalid {
    background-image: linear-gradient(to top, #9f39b5 2px, rgba(244, 67, 54, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
}
.selectbox{
    width: 100% ;
}

.body {
    position: relative;
    font-family:
      'Roboto','Helvetica','Arial',sans-serif;
  }
  
  .wrap {
    position: absolute;
    right: 0;
    top: 40%;
    width: 350px;
    left: 0;
    margin: 0 auto;
  }
  
  /* select starting stylings ------------------------------*/
  .select {
    font-family:
      'Roboto','Helvetica','Arial',sans-serif;
      position: relative;
      width: 350px;
  }
  
  .select-text {
      position: relative;
      font-family: inherit;
      background-color: transparent;
      width: 100%;
      padding: 10px 10px 10px 0;
      font-size: 15px;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(0,0,0, 0.12);
  }
  
  /* Remove focus */
  .select-text:focus {
      outline: none;
      border-bottom: 1px solid rgba(0,0,0, 0);
  }
  
      /* Use custom arrow */
  .select .select-text {
      appearance: none;
      -webkit-appearance:none
  }
  
  .select:after {
      position: absolute;
      top: 18px;
      right: 10px;
      /* Styling the down arrow */
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(0, 0, 0, 0.12);
      pointer-events: none;
  }
  
  
  /* LABEL ======================================= */
  .select-label {
    color: #c2c2c2;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 16px;
    transition: 0.2s ease all;
}
  
  /* active state */
  .select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
      color: #c2c2c2;
      top: -18px;
      transition: 0.2s ease all;
      font-size: 12px;
  }
  
  /* BOTTOM BARS ================================= */
  .select-bar {
      position: relative;
      display: block;
      width: 100% !important;
  }
  
  .select-bar:before, .select-bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
        background-image: linear-gradient(to top, #9d36b3 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
      transition: 0.2s ease all;
  }
  
  .select-bar:before {
      left: 50%;
  }
  
  .select-bar:after {
      right: 50%;
  }
  
  /* active state */
  .select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
      width: 50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .select-highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
  }

 /* END SELECT */ 

.main-panel > .content {
    margin-top: 0 !important;   
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1px solid #9c35b2;
    color: #9c28b0 !important;
}
.page-item.disabled .page-link {
    color: #9c28b0 !important;
    pointer-events: none;
    cursor: auto;
    background-color: transparent;
    border-color: #9c28b0 !important;
}
.page-item:last-child .page-link {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid #9c35b2;
    color: #9c28b0 !important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #ffffff !important;
    background-color: #a33db7 !important;
    border-color: #9e38b4 !important;
    height: 35px;
}
.page-link:hover {
    color: #9c28b0 !important;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
    height: 35px;
}
.page-link{
    color: #9c28b0 !important;
}
.textsize21 h3{
    font-size: 21px;
}
.form-check .form-check-label{
    padding-top: 14px;
}
.card .form-check {
    margin-top: 40px !important;
}
.totalnumber{
    
}